<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a href="http://localhost:63343/web/ministry.html">Manager</a></h3>
<h2 th:if="${message}" th:text="${message}"></h2>
<form th:action="@{/user/ministry}" th:object="${userForm}" method="post"  novalidate="novalidate" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <th>Name</th>
            <td><input type="text" placeholder="input name" th:field="*{name}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><input type="text" placeholder="input code" th:field="*{code}"></td>
            <td th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="email" placeholder="input email" th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td><input type="number" placeholder="input phone" th:field="*{phone}"></td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
        </tr>
        <tr>
            <th>Username</th>
            <td><input type="text" placeholder="input username" th:field="*{username}"></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" th:field="*{password}"></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </tr>
        <tr>
            <th>Image</th>
            <td><input type="file" th:field="*{image}"></td>
        </tr>
        <tr>
            <th>Role</th>
            <td>
                <select th:field="*{role}">
                    <option th:each="r:${roles}" th:value="${r.id}" th:text="${r.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Grade</th>
            <td>
                <select name="gradeId">
                    <option th:each="grade:${grades}" th:value="${grade.id}" th:text="${grade.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>